div{
  height: 75px;
  /* background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(129, 203, 238) 90%, rgb(0, 0, 0, 0)); */
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
}

li{
  font-size: xx-large;
  margin-right: 20px;
  cursor: pointer;
}

li:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}